/* estrutura principal */

$desktop: 1024px;
$fonte-maior-px: 14px;
$fonte-maior-em: 1.3em;
$fonte-sem-serifa: 'Segoe UI',
'Roboto',
arial,
sans-serif;
$razao-aurea: 1.61803398875;
@mixin fonte($tamanho, $familia) {
    font: {
        size: $tamanho;
        weight: bold;
        family: $fonte-sem-serifa;
    }
}

%titulo-compartilhado {
    text-transform: uppercase;
    text-align: center;
}

.titulo {
    text-align: center;
    &__principal {
        @include fonte($fonte-maior-em, $fonte-sem-serifa);
        @extend %titulo-compartilhado;
    }
    &__secundario {
        @include fonte($fonte-maior-em/$razao-aurea, $fonte-sem-serifa);
        @extend %titulo-compartilhado;
    }
}

.navegacao {
    display: none;
    &__item {
        display: inline-block;
        text-transform: uppercase;
    }
}


/* estilização do mapa do Google Maps API */

@import '_mapa.scss';

/* estilização dos pontos marcados */

@import '_pontos.scss';

/* estilização dos elementos do formululário */

@import '_formulario.scss';
@media (min-width: $desktop) {
    .navegacao {
        display: none;
    }
}