/* estrutura principal */

$desktop: 1024px;
$fonte-maior-px: 14px;
$fonte-maior-em: 1.2em;
$fonte-sem-serifa: 'Segoe UI',
'Roboto',
arial,
sans-serif;
$razao-aurea: 1.61803398875;
@mixin fonte($tamanho, $peso, $familia) {
    font: {
        size: $tamanho;
        weight: $peso;
        family: $familia;
    }
}

.secao {
    margin-top: 5px;
    padding: 0 5px 5px 5px;
    &--mapa {
        margin-top: 0;
        padding: 0 0 5px 0;
        position: relative;
    }
    &__titulo {
        margin: 5px 0;
        text: {
            align: center;
            transform: uppercase;
        }        
        @include fonte($fonte-maior-em, bold, $fonte-sem-serifa);
        &--secundario {
            font-size: $fonte-maior-em/$razao-aurea;
        }
    }

}

.navegacao {
    display: none;
    &__item {
        display: inline-block;
        text-transform: uppercase;
    }
}

.separador {
    margin: 0 2px;
    &__lista {
        text-decoration: unset;
    }
}



/* estilização do mapa do Google Maps API */

@import '_mapa.scss';

/* estilização dos pontos marcados */

@import '_pontos.scss';

/* estilização dos elementos do formululário */

@import '_formulario.scss';


@media screen and (min-width: $desktop) {
    /* $fonte-maior-em: 2em; */
    /* $fonte-maior-px: 22px; */
    .navegacao {
        display: none;
    }
}