$fonte-tam-itens: $fonte-maior-em/$razao-aurea;

.pontos {
    @include fonte($fonte-tam-itens, none, Arial);
    &__item {
        margin-top: 7px;
    }
    &__link {
        text-decoration: underline;        
        padding: 2px;
        background-color: navy;
        color: white;
        cursor: default;
        &:hover, &:focus, &:active {
            background-color: white;
            color: navy;
        }     
    }
}
